.numberCircle {
        margin-top: -10px;
        font-size: 24px;
        display: block;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        padding: 8px;
        background: #fff;
        border: 2px solid black;
        color: black;
        text-align: center;
        font: 22px Arial, sans-serif;
}

@media (max-width: 640px) {
   .numberCircle {
    width: 16px;
    height: 16px;
    margin-top: 5px;
    margin-bottom:5px;
    border: none;
    display: block;
    font: 16px
   }
}  