.timeline ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.timelineElement {
    position: relative;
    overflow: hidden;
    padding-bottom: 30px;
}

.timelineDate {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 30px 15px;
    width: 130px;
    color: #999;
    text-align: right;
    font-style: italic; 
    border-right: 1px solid #ddd;
}

.timelineDate:after {
    content: " ";
    position: absolute;
    top: 40px;
    right: -5px;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:#6BB1F1;
}

.timelineDateText {
    margin-top: -3px;
    display: block;
}

.timelineContent {
    margin-left: 200px;
    overflow: hidden;
    border-top: 1px solid #ddd;
}

.projectDescription {
    margin-bottom: 30px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}

@media only screen and (max-width: 1025px) {
    .timelineContent {
        margin-left: 100px;
    }
    .timelineDate {
        width: 40px;
    }
}

@media only screen and (max-width: 640px) {
    .timelineDate {
        position: relative;
        border-right: none;
        padding: 0;
        width: 0;
    }
    .timelineDate::after {
        display: none;
    }
    .timelineContent {
        margin-left: 0;
    } 
}
