.mediaFigure {
  padding: 1.5rem;
}

.mediaBody {
  margin-left: 1.5rem;
  flex: 1;
}

.media {
  display: flex;
  align-items: flex-start;
  padding: 1.5rem;
  border: 2px solid #e7e7e7;
  border-radius: 5px;
  margin-bottom: 50px;
  border-bottom: 1px solid #ddd;
}

.media p {
  line-height: 40px;
}

.mediaBody,
.mediaBody:last-child {
  margin-bottom: 0;
}

.mediaTitleContainer {
  display: flex; 
  align-items: center;
  justify-content: space-between; 
  margin-bottom: 10px;
}

.contactContainer {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.contactImage {
  width: 30px;
  margin-right: 15px;
}

.mediaTitle {
  margin: 0 0 0;
}

.mediaCenter {
  align-items: center;
}

.mediaFigureImage {
  width: 180px;
  border: 3px solid grey;
  border-radius: 50%;
  height: auto;
  filter: brightness(95%);
}

.slidesLink {
  display: inline-block;
  padding: 11px;
  border-radius: 10px;
  background: #0099ff;
  color: white;
  font-weight: 500;
}

.talksList {
  list-style-type:none;
  padding: 0;
  margin: 0;
}

.companyMissionContainer p:last-child {
  margin-bottom: 50px;
}

.companyMission {
  line-height: 40px;
  margin-bottom: 30px;
}

@media (max-width: 720px) {
  .mediaFigure {
    padding-left: 0;
    padding-right: 0;
  }
  
  .mediaBody {
    margin: 0;
  }
  .media {
    flex-direction: column;
    border-bottom: 1px solid #ddd;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 0px;
    padding-top: 1.5rem;
    padding-left: 0;
    padding-right: 0;
  }
  .bioContainer {
    border-top: 1px solid #ddd;
  }
  .mediaFigureImage  {
    align-self: center;
    width: 120px;
    margin-bottom: 1rem;
  }
  .mediaTitleContainer{
    flex-direction: column;
    align-items: center; 
  }
  .contactContainer {
    justify-content: center;
    margin-bottom: 30px; 
  }
  .mediaTitle {
    margin-bottom: 10px;
  }
  .contactImage {
    width: 20px;
  }  
}

@media only screen and (max-width: 640px) {
  .media p {
    line-height: 25px;
  }
}
