
.mediaFigure {
  padding-left: 0;
  padding-right: 0;
}

.mediaBody {
  flex-grow: 3;
  margin: 0;
}

.mediaContainer {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: 0.5rem;
}

.media {
  display: flex;
  align-items: flex-start;
  padding-top: 1.5rem;
  flex-direction: column;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: 2px solid #e7e7e7;
  grid-column: 3 / 9;
}

.mediaBody,
.mediaBody:last-child {
  margin-bottom: 0;
}

.mediaTitleContainer {
  display: flex; 
  justify-content: space-between; 
  margin-bottom: 10px;
  flex-direction: column;
  align-items: center; 
}

.contactContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px; 
}

.contactImage {
  width: 30px;
  margin-right: 15px;
}

.mediaTitle {
  margin-bottom: 10px;
}

.mediaCenter {
  align-items: center;
}

.mediaFigureContainer {
  align-self: center;
  margin-bottom: 1rem;
  width: 25%;
}

.mediaFigureImage {
  border: 3px solid grey;
  border-radius: 50%;
  filter: brightness(95%);
}

.slidesLink {
  display: inline-block;
  padding: 6px;
  border-radius: 10px;
  background: #32A9DB;
  color: white;
  font-weight: 500;
}

.talksList {
  list-style-type:none;
  padding: 0;
  margin: 0;
}

.companyMissionContainer p:last-child {
  margin-bottom: 50px;
}

.companyMission {
  margin-bottom: 30px;
}
.bioContainer {
  border-top: 2px solid #e7e7e7;
}

#card1 {
  margin-bottom: 50px;
}

@media (max-width: 1025px) {
  .media{
    grid-column: 2 / 10;
  }
}



@media (max-width: 720px) {
  .media{
    grid-column: 1 / 11;
  }
  .companyMissionContainer {
    margin-bottom: 0;
  }
}