.footerContainer {
    display: flex;
    padding-top: 40px; 
    font-size: 14px; 
    justify-content: space-between; 
}

.infoContainer {
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
}

.test {
    display: flex;
    padding: 15px 
}

.image {
    margin-right: 15px;
}

.footerLogo {
    display: flex; 
    font-weight: bold;
    padding: 15px;
}

.copyright {
    text-align: center; 
    font-size: 16px; 
}

@media (max-width: 640px) {
    .footerContainer {
        flex-direction: column;
    }
    .infoContainer {
        margin-bottom: 50px;
        align-self: center;
    }
    .test {
        flex-direction: column;
        align-self: center;
        padding: 10px;
    }
    .image {
        align-self: center;
        margin-bottom: 5px;
        margin-left: 10px;
    }
    .footerLogo {
        padding: 10px;
    }
  
}