.container {
    background:linear-gradient(135deg, #f8f8f8 0%,#efefef 100%);
}

.footerContainer {
    display: flex;
    font-size: 14px; 
    justify-content: space-between; 
    padding-top: 30px;
}

.infoContainer {
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
}

.footerItem {
    display: flex;
    align-items: center;
    padding: 15px;
}
.footerItem a {
    color: inherit;
    display: flex; 
    align-items: center;
}
.languageContainer {
    padding: 15px;
}

.image {
    width: 20px;
    margin-right: 15px;
}

.footerLogo {
    display: flex;
    align-items: center; 
    font-weight: bold;
    padding: 15px;
}

.copyright {
    text-align: center; 
    margin: 0;
    padding-bottom: 10px;
    font-size: 14px; 
}

@media (max-width: 640px) {
    .footerContainer {
        flex-direction: column;
    }
    .footerItem a {
        flex-direction: column;
    }
    .infoContainer {
        margin-bottom: 50px;
        align-self: center;
    }
    .footerItem {
        flex-direction: column;
        align-self: center;
        padding: 10px;
    }
    .image {
        align-self: center;
        margin-bottom: 5px;
        margin-left: 10px;
    }
    .footerLogo {
        padding: 10px;
    }
  
}