.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 0.5rem;
    background:#f6f7f9;
    padding-top: 48px; 
}

.footerContainer {
    grid-column: 2 / 12;
    display: flex;
    font-size: 14px; 
    justify-content: space-between; 
}

.infoContainer {
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
}

.languageContainer {
    grid-column: 2 / 12;
    text-align: center;
    padding: 0 0 15px 0;
}
.footerItem {
    display: flex;
    align-items: center;
    padding: 0 0 15px 0;
}
.footerItem a {
    color: inherit;
    display: flex; 
    align-items: center;
}

.image {
    width: 20px;
    margin-right: 15px;
}

.footerLogo {
    display: flex;
    align-items: center; 
    font-weight: bold;
    padding: 15px;
}

.copyright {
    grid-column: 2 / 12;
    text-align: center;
    padding-bottom: 15px; 
    margin: 0;
    font-size: 12px; 
}

@media (max-width: 1025px) {
    .footerContainer {
        flex-direction: column;
    }
    .footerItem a {
        flex-direction: column;
    }
    .infoContainer {
        margin-bottom: 24px;
        align-self: center;
    }
    .footerItem {
        flex-direction: column;
        align-self: center;
 
    }
    .image {
        align-self: center;
        margin-bottom: 5px;
        margin-left: 10px;
    }
    .languageContainer {
        margin-bottom: 24px;
    }
}

@media (max-width: 720px) {
    .container {
        padding-top: 24px;
    }
}

