.home .header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 0.5rem;
  position: fixed;
  width: 100%;
  padding: 50px 0;
  z-index: 1;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.home .headerScrolled {
  background:  #373a47;
  padding: 10px 0;
  backdrop-filter: blur(20px);
}

.others .header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 0.5rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background:  #373a47;
  padding: 0.9375rem 0;
  backdrop-filter: blur(20px);
  z-index: 1;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.headerGroup {
  grid-column: 2 / 12;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLinks {
  display: flex;
  padding: 0;
  margin:0; 
  list-style-type: none; 
  align-items: center;
}

.header a {
  margin-right: 2.5rem;
  padding-bottom: 5px;
  font-size: 1.125rem;
  color: white;
  font-weight: 600;
}

.navLinks a:hover{
    border-bottom: 2px solid  #488CCA;
}

.headerLogo {
  height: 2.5rem;
}


@media (max-width: 720px) {
  .home .header {
    padding-top: 0.9375rem;
  }
  .navLinks {
    display: none;
  }
  .header a {
    padding: 0;
  }
  
  
}